// Place all the styles related to the Follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow {
  float: left;
  margin: 10px 10px 10px 0px;
  width: 55px;
  text-align: center;
  overflow: auto;
  img {
     float: left;
     width: 100%;
   } /* img */
} /* .follow */

