/* pulls in the $primary & $secondary-color styles*/
@import "colors"; 

header#page-header {
  padding: 5px; 
  color: $secondary-color;
  background: $primary-color;
  border-bottom: 5px solid lighten($primary-color, 25%);

  h1 {
    text-align: center;
    letter-spacing: 5px;
  } /* page-header h1 */

  a {
    text-decoration: none;
    color: white;
  } /* page-header a */
} /* page-header */

footer#page-footer {
  padding: 5px; 
  color: $primary-color; 
  background: $secondary-color;
  border-top: 2px solid darken($secondary-color, 25%);
}

aside#sidebar {
  background: $secondary-color; 
  width: 200px; 
  float: right;
}