$primary: #2bde73; /* green */
$primary-dark: darken($primary, 35%);
$secondary: #b1b8b0; /* light gray */
$background: #f7fafa; /* light blue gray */
//$p-links: #00a0ff; /* blue */
$p-links: $primary;