      <div class="pledge-buttons">
       buttons
      </div>
      <li>
          <span class="amount"><%= number_to_currency(pledge.amount) %></span>
          <span class="user">by <%= pledge.name %></span>
          <span class="date"><%= time_ago_in_words(pledge.created_at) %> ago</span>
          <p>
            &quot;<%= pledge.comment %>&quot;
          </p>
      </li>