<% content_for :title, "Sign Up" %>

<header id="content-header">
  <h1>Sign Up</h1>
</header>
<p>
  Already have an account? <%= link_to "Sign In!", signin_path, class: "button" %>
</p>

<%= render "form" %>