<footer style="text-align: center;">
  
  <hr>
  <p>Copyright &copy; <%= Date.today.year %> J-Rock</p>
  <p><%= link_to "Sunnyvale Trailer Park", "https://www.facebook.com/SunnyVale-Trailer-Park-322979921077651/" %></p>

</footer>