<aside style="float: right;
padding: 10px;
background-color: lightgray;
margin-left: 30px;">
  <nav>
    <ul>
      <li><%= link_to "All Projects", projects_path %></li>
      <li><%= link_to "Add a New Project", new_project_path %></li>
    </ul>
  </nav>
</aside>