@import "colors";

html, body {
  font-family: "Roboto";
  font-weight: 300; 
  margin: 0px;
  height: 100%;
} /* html */

h1, h2, h3, h4, h5, p {
  margin: 0px; 
} /* h1, h2, h3, h4, h5, p */

th {
     text-align: left;
   } /* th */ 

.wrapper {
  min-height: 100%;
} /* .wrapper */
  

header#page-header {
  padding: 20px 5px;
  margin-bottom: 40px;
  color: $secondary-color;
  background-color: $primary-color;
  h1 {
     a {
        color: white;
        text-decoration: none; 
      } /* a */   
   } /* h1 */ 
} /* header#page-header */


footer#page-footer {
  text-align: center; 
  padding: 20px; 
  color: $primary-color; 
  background: $secondary-color;
} /* page-footer */

aside#sidebar {
  float: right; 
  margin-top: -40px;
  background: $secondary-color; 
  width: 200px; 
  border-radius: 0px 0px 20px 20px;
  a {
    text-decoration: none;
    color: gray; 
  } /* a */
  a:hover {
    color: lightgray; 
  } /* a:hover */
    
  li {
    list-style: none; 
  } /* li */
    
    
} /* sidebar */



