<header id="page-header">
  <div id="masthead">
    <%= link_to image_tag("logo.png"), root_path %>
  </div><!-- masthead -->
  <nav>
    <p><%= link_to "Tweet Us!", "http://twitter.com/lortza" %></p>
  </nav>
</header>
