      <div class="review-buttons">
       buttons
      </div>
      <li>
          <span class="review"><%= pluralize(review.stars, 'star') %></span>
          <span class="user">by <%= review.name %></span>
          <span class="date"><%= review.created_at %></span>
          <p>
            &quot;<%= review.comment %>&quot;
          </p>
      </li>



     