<header id="content-header">
  <h1>Reviews for <%= link_to(@movie.title, @movie) %></h2>
</header>

  <ol id="reviews">
    <% @reviews.each do |review| %>

      <%= render :partial => "review", :object => review %>

    <% end %>
  </ol>

  <%= link_to "Write Review", new_movie_review_path(@movie), class: "button ok review" %>
  <%= link_to "Back to #{@movie.title}", movie_path(@movie), class: "button" %>
