<header id="content-header">
  <h1>Reviews for <%= link_to(@movie.title, @movie) %></h2>
</header>

  <% if @reviews.any? %>
    <ol id="reviews">
      <% @reviews.order("created_at DESC").take(3).each do |review| %>
        <%= render :partial => "reviews/review", :object => review %>
      <% end %><!-- each do -->
    </ol>
    <% end %> <!-- if any? -->