<% if object.errors.any? %>
  <section id="errors">
  <div class="col col-33">
     <%= image_tag("catfail.jpg") %>
  </div> <!-- col -->
  <div class="col col-66">
  <h2>Your submission could not be saved.</h2>
    <h3>Please correct the following <%= pluralize(object.errors.count, "error") %>:</h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %><!-- messages -->
    </ul>
     
  </div> <!-- col -->
      
    
    
  </section>
<% end %>